openapi: 3.1.0
info:
  title: Tatum Data API
  version: "4.0.0"
  description: |
    REST API for indexed multi-chain blockchain data including balances,
    transactions, blocks, and exchange rates. Authentication uses an API
    key provided in the x-api-key header.
  contact:
    name: Tatum
    url: https://docs.tatum.io/reference/rest-api-overview
servers:
  - url: https://api.tatum.io
    description: Production
security:
  - apiKeyAuth: []
paths:
  /v4/data/blockchains/balance:
    get:
      summary: Get native balance
      description: Retrieve native balance for a blockchain address.
      operationId: getNativeBalance
      tags:
        - Data
      responses:
        "200":
          description: Balance details
  /v4/data/blockchains/transaction:
    get:
      summary: Get transaction by hash
      description: Retrieve transaction details using transaction hash.
      operationId: getTransaction
      tags:
        - Data
      responses:
        "200":
          description: Transaction details
  /v4/data/blockchains/block:
    get:
      summary: Get block by hash or height
      description: Fetch block information by hash or block number.
      operationId: getBlock
      tags:
        - Data
      responses:
        "200":
          description: Block details
  /v4/data/blockchains/block/current:
    get:
      summary: Get current block height
      description: Obtain the latest block height for supported blockchains.
      operationId: getCurrentBlockHeight
      tags:
        - Data
      responses:
        "200":
          description: Current block height
  /v4/data/rate/symbol:
    get:
      summary: Get exchange rate by symbol
      description: Retrieve current exchange rates for crypto/fiat pairs.
      operationId: getExchangeRate
      tags:
        - Rates
      responses:
        "200":
          description: Exchange rate
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
tags:
  - name: Data
  - name: Rates
